# Tool folders
.tools/
.dotnet/

# VS Code (share debug and task specific settings)
/.vscode/*
!/.vscode/settings.json
!/.vscode/launch.json
!/.vscode/tasks.json

# Visual Studio
/.vs
*.suo
*.user

# Build results
artifacts/
project.lock.json
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Resharper
_ReSharper.*/
*.[Rr]e[Ss]harper
*.dotCover

# Mac OS X (Finder)
.DS_Store
